<?xml version="1.0"?>
<configuration>
     <location path="WeavverPhone.js">
          <system.webServer>
               <httpProtocol>
                    <customHeaders>
                         <add name="Access-Control-Allow-Origin" value="*" />
                    </customHeaders>
               </httpProtocol>
          </system.webServer>
     </location>
     <location path="WeavverPhoneLib.js">
          <system.webServer>
               <httpProtocol>
                    <customHeaders>
                         <add name="Access-Control-Allow-Origin" value="*" />
                    </customHeaders>
               </httpProtocol>
          </system.webServer>
     </location>
     <location path="WeavverPhone.tpl.html">
          <system.webServer>
               <httpProtocol>
                    <customHeaders>
                         <add name="Access-Control-Allow-Origin" value="*" />
                    </customHeaders>
               </httpProtocol>
          </system.webServer>
     </location>
     
</configuration>